# Carpeta persistente para configuracion y estado
DATA_DIR=./data

# Carpeta de sesion de WhatsApp
AUTH_DIR=./data/sesion

# Carpeta temporal
TMP_DIR=./tmp

# Rutas opcionales si el sistema no encuentra estos comandos
YT_DLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg

# Solo necesario en Render/servicios web
PORT=3000

# Opcional: API autorizada para consultar DNI
# Puedes usar {dni} como marcador dentro de la URL.
DNI_API_URL=https://api.verificape.com/v2/dni/{dni}
DNI_API_TOKEN=
